//* colors
$white: #ffffff;
$athensGray: #f2f4f7;
$iron: #cbcfd4;
$raven: #747d88;
$brightGray: #3c444c;
$outerSpace: #30363d;
$jaffa: #f27a54;
$heliotrope: #a154f2;
$deYork: #6fcf97;

//* gradients
$gradientJaffaHeliotrope: linear-gradient(90deg, #f27a54 0%, #a154f2 186.42%);

//* fonts
$fontFamily: 'Montserrat';

$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;

//* font sizes
$fontSizeTiny: 10px;
$fontSizeSmall: 14px;
$fontSizeAverage: 17px;
$fontSizeNormal: 19px;
$fontSizeBig: 24px;
$fontSizeLarge: 32px;
$fontSizeHuge: 44px;

//* line height
$lineHeightSmall: 22px;
$lineHeightAverage: 28px;
$lineHeightNormal: 30px;
$lineHeightBig: 50px;
$lineHeightLarge: 56px;
